@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dosis:wght@500;700&family=Handjet:wght@300&display=swap');
*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body {
	font-family: 'Dosis', sans-serif; /*Letra fija*/
	}

header{
	background-color: #0a2929;
    color: #fff;
	width: 100%;
	z-index: 3;
	background-image: url("../IMG/Lentes.jpg");
    background-position-y: 60%;
    background-size: cover;
	display: flex;
}

/* Buscador de contenido */
#ctn-icon-search {
	background: #85a8a8;
    left: 70%;
    display: flex;
    width: 100px;
    position: absolute;
    top: 105px;
}

#ctn-icon-search h5{
    margin: 10px;
}

#ctn-icon-search i{
    align-items: center;
    display: flex;
}

#ctn-icon-search i:hover{
	color: #46a2fd
	cursor: pointer;
}

#ctn-bars-search {
    position: absolute;
	top: auto;
    width: 100%;
	background: #000;
    padding: 10px;
	display: none;
	z-index: 8;
}

#ctn-bars-search input{
	display: block;
	width: 1200px;
	margin: auto;
	padding: 10px;
	font-size: 18px;
	outline: 0;
}

#box-search{
	position: absolute;
	top: 200px;
	width: 1200px;
	background: #fff;
	z-index: 2;
	display: none;
}

#box-search li{
	padding: 10px;
	list-style: none;
}

#box-search i{
	padding-right: 3px;
}

#Opciones_buscador{
	display:flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.Titulo_temas{
	text-align: center;
	position: relative; 
	top: 250px; 
	font-size: 50px;
	-webkit-text-stroke: 1px black;
	width: 100%;
	height: 60px;
}

.Encabezado{
    height: 150px;
}
/* Optica */

.Encabezado_Rad{ 
    height: 330px;
	width: 100%;
	background-position: 50% 60%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Radiometría.jpg"); /*CambiarRuta*/
	background-size: cover;
}

.Encabezado_RefRef{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Reflexión y Refracción.jpg");
	background-size: 30%;
}

.Encabezado_Espejos{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Colect Sol.jpg");
	background-size: 40%;
}

.Encabezado_IndRef{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Refracción.jpg");
	background-size: 70%;
}

.Encabezado_Espectroscopia{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Esp.jpg");
	background-size: 80%;
	background-position: 50% 50%;
}

.Encabezado_Lentes{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Lentes.jpg");
	background-size: 80%;
	background-position: 50% 50%;
}

.Encabezado_Polarizacion{
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../IMG/Man/Pol.png");
	background-size: 50%;
	background-position: 50% 80%;
}

.Encabezado_Interferencia{
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../IMG/Man/Interf.png");
	background-size: 50%;
	background-position: 50% 80%;
}

.Encabezado_Michelson{
	background-color: black;
	background-image: url("../IMG/Man/Michelson_V.png");
	background-size: 60%;
	background-position: 100% 30%;
	background-repeat: no-repeat;
}

.Encabezado_Óptica{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Óptica.jpg");
	background-position: 50% 15%;
}

/* Mecanica */
.Encabezado_Pend{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Reloj Péndulo.jpg");
	background-size: 35%;
	background-position: 50% 70%;
}

/* Instrumentacion */
.Encabezado_Med_y_Anal{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Mediciones.jpg");
	background-size: 45%;
	background-position: 50% 70%;
}

.Encabezado_TReac{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Cronómetro.png");
	background-size: 35%;
	background-position: 50% 70%;
}
.Encabezado_Manejo{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Óptica.jpg");
	background-position: 50% 40%;
}

.Encabezado_RepBit{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/RepBit.jpg");
	background-position: 50% 40%;
}

.Encabezado_AlBas{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Alineación.jpg");
	background-position: 50% 40%;
}

.Encabezado_Vernier{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Vernier.jpg");
	background-size: 10%;
}

/* Electrónica */
.Encabezado_Leds{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/LEDs y Res.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);	
}

.Encabezado_555{ 
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/555.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);	
}

.Encabezado_CEV{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/CEV.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);
}

.Encabezado_MCW{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/MCW.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);
}

.Encabezado_FuenteHV{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/FuenteHV.png");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);
}

.Encabezado_Semiconductores{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/Semiconductores.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);
}

.Encabezado_LCD{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Man/LCD.jpg");
	background-size: 45%;
	background-position: 50% 70%;
	backdrop-filter: blur(50px);
}

.LOGO{
	height: 130px;
	padding: 0;
	margin:0 1%;
	background-size: cover;
	display: flex;
    justify-content: left;
	align-items: center;
	position: absolute;
}

.LOGO_img{
	width:auto;
	height:80%;
	margin: 10px auto;
	display: flex;
	align-items: center;
}

.Titulo{
	font-size: 35px;
	margin: 2% 6%;
	color: #8ab6b3;
	-webkit-text-stroke: 2px black;
}


/* Menu computadora */
nav{
	width: 100%;
	padding: 1%;
	margin: 0;
	display:flex;
	justify-content: center;
}

.Menu{
	top: 100px;
	position: absolute;
}

.Menu_Lect{
	top: 30px;
	position: absolute;
}

.menu_menor{
	position: fixed;
	left:85%;
	margin: 0.5% 1%;
	align-items: center;
	cursor: pointer;
	display: none; /* Solo se ocupa en dimensiones menores*/
}

.menu_cel{
	display: none;
}

.menu_img{
	display:block;
}

.Menu ul{
	list-style-type:none;
	justify-content:space-between;
}

.Menu_Desplegable{
	z-index:3;
    height: 100%;
    transition: transform .5s;
    display: flex;
}

hr{
	height: 5px;
	width:80%;
	margin-top: 30px;
	position:absolute;
	}

.hrP{
	margin-top: 50px;
}

.separador{
	margin: 0;
    width: 100%;
}

/*Opcion para submenu*/

.Menu_Opciones{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
	 background-color: #0000008f;
}

.Menu_Opciones:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /*Custom property definida por el usuario. aquí usamos clippy*/
    --transform: rotate(0);
	border-left: 5px solid;
}

/*Configuración de la flecha en el submenú*/

.menu__arrow{
    transform: var(--transform); /*La función var() utiliza la clippy definida antes*/
    transition: transform .5s;
    display: block;
    margin-left: 3px;
}

/*Configuración del despliegue en el submenú*/

.Menu_Desplegable_Interno{
    list-style: none;
    transition:clip-path .5s;
    clip-path: var(--clip);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
	background-color: #000;
}

.Menu_Opciones_Interno a{
	padding: 10px 80px 10px 20px;
	border-left: 5px solid;
	margin-left: 10px;
}


/*Diseño del submenú*/

.menu_link{
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif; /*Letra*/
    font-size: 20px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
}

.menu_link:hover{
    background-color: #5A5353;
	background-size: 70px;
}

.menu_link_interno{
	color: #fff;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	background: #000;
	min-height: 800px;
	padding-bottom: 25px;
}


/* Galeria */
.Galeria_superior{
	width: 800px;
	height: 400px;
	overflow:hidden;
	margin: 5% auto 1% auto;
	position: relative;
	box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.4);
}

.Carousell{
	display: flex;
	width: 500%;
	height: 100%;
	
}

.Caja{
	width: 20%;
	height: 100%;
	cursor: pointer;
}

.Caja h3{
	display: flex;
    position: absolute;
    margin: 20px;
	font-family: 'Dosis'; /*Letra*/
    font-size: 25px;
    color: #e3e2d7;
    -webkit-text-stroke: 1px black;
}

.Caja img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

.B_Izq,
.B_Der{
	display: flex;
	position: absolute;
	top: 50%;
	font-size: 2.5rem;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
	color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
	z-index: 1;
}

.B_Izq:hover,
.B_Der:hover{
	background-color: #333333d4;
    color: #fff;
}

.B_Der{
	right:2px;
}
.B_Izq{
	left:2px;
}
/* Galeria */
.galeria{
	text-align: center;
}

.galeria img{
	padding: 5px;
	width: 450px;
	transition: 1s;
	
}

.galeria img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

.figura{
	display: inline-block;
	position: relative;
	height: auto;
	width: 30%;
}

.capturatexto {
	position: absolute;
    bottom: 0;               /* Texto en la parte inferior de la imagen */
    left: 0;                 /* Alineado a la izquierda */
    width: 100%;             /* Cubriendo todo el ancho de la figura */
    text-align: center;      /* Centrado horizontalmente */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: #fff;             /* Texto blanco */
    padding: 5px;
    font-size: 25px;
    opacity: 0;              /* Oculto por defecto */
    transition: opacity 0.3s; /* Transición suave */
}

.figura:hover > .capturatexto {
	opacity: 1; 
}

.Cuerpo_1{
	width:80%;
	padding: 2% 1% 1% 5%;
	color: #fff;
}

.menu_complemento{
	display: none;
}
.Cuerpo_2{
	width: 20%;
	padding: 2% 8% 1% 1%;
	position: absolute;
	margin-left: 80%;
}

.PPag{
	background-color: rgb(10 10 10 / 95%);
	color: #fff;
	width: 100%;
	height: 90px;
	padding: 20px 150px;
	display: flex;
}

/* Principal */

.Cuerpo_1 h1{
	color: white; 
	text-align: center;
}

/* Menu en la sección de áreas */

.sub-Menu-Mat{
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	display: flex;
	margin: 0 auto;
}

.sub-Menu-Caja{
	width: 30%;
	margin-left: 10px;
	align-items: center;
    justify-content: center;
    display: flex;
	margin-bottom: 15px;
}

.sub-Menu-Caja:hover{
	margin-bottom: 35px;
	cursor:pointer;
}
	
.sub-Menu-Txt{
	position: absolute;
	font-size: 35px;
	width: 10%;
	justify-content: center;
	text-align:center;
	display: flex;
	color: aliceblue;
	opacity: 1;
}

.sub-Menu-Txt:hover{
	font-size: 45px;
	-webkit-text-stroke: 1px black;
}

.sub-Menu-img{
	width: 100%;
	opacity: 0.1;
}

.sub-Menu-img:hover{
	opacity: 0.5;
}

.sub-Menu{
	display: grid;
	list-style-type: none;
	color: #fff;
}

.Principal_Areas{
	display: block;
	width: 100%;
	background: #000;
	min-height: 800px;
	padding-top: 25px;
}

#Tema-sub-Fisica, #Tema-sub-Electronica, #Tema-sub-Instrum{
	color: aliceblue;
    text-align: center;
    font-size: 40px;
	justify-content: center;
	padding-right: 15px;
}

.Tema-sub-text{
	padding: 10px;
	margin-left: 10px;
	border: 4px double #f0d29e;
	cursor: pointer;
	color: #fff;
}

.a-Tema-sub{
	text-decoration:none;
}

.a-M-Interno{
	margin-right: 25px;
	padding: 8px;
	border: 2px solid #fff;
}

.a-M-Interno:hover{
	transform: translateY(-5px);
}


.a-M-Interno a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.Tema-sub-text:hover{
	transform: translateY(-7px);
}

.boton-regresar{
	border: 2px solid white;
	width: 15%;
}

.boton-regresar a{
	display: flex;
	justify-content:center;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

/* Barra lateral */
.aside{
	border: 2px solid #000;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	background:linear-gradient(to top, #2f0404, #981717);
	color: #adae92;
}

.Cuerpo_2 ul{
	list-style: none; 
	color: #fff;
	font-family:'Dosis', sans-serif;
	text-align: justify;
	font-size: 15px;
}
.Cuerpo_2 li{
	padding: 8px;
	text-align: justify;
}

.Cuerpo_2 a{
	color: snow;
	text-decoration:none;
	border: 2px solid #000;
}

.Boton-vuelta{
	cursor: pointer;
}

.Cuerpo_2 li:hover{
	cursor: pointer;
	-webkit-text-stroke: 0.5px #000;
	color: #fff;
}

/* manuales */

.Album{
	flex-wrap: wrap;
	display: flex;
	align-items: center; 
	justify-content: center;
	width: 100%;
	height: auto;
	margin: auto;
}

.Foto{
	width: 330px;
	height: 360px;
	border-radius: 10% 2%;
	box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.4);
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	background-color: rgb(190 190 189);
}

.F2{
	width: 330px;
	height: 200px;
	overflow: hidden;
}

.F2 img{
	height: 100% !important;
    width: 100% !important;
}

.Foto:hover{
	transform: translateY(-10px);
	box-shadow: 0 10px 0 rgba(0, 0, 0, 0.4);
}

.Foto img{
	object-fit: cover;
	width: 330px;
	height: 200px;
}

.Foto h4{
	font-size:18px;
	padding: 0 1rem;
}

.Foto p{
	padding: 0 1rem;
	font-size:15px;
	font-weight: 300;
	color: #030b24;
}

.Foto a{
		text-decoration:none;
		color: rgba(0, 0, 0, 0.8);
	}

.Foto a:hover{
		text-decoration:none;
		color: #476666;
	}


/* Radiometría */
table{
	margin: 15px auto;
	width: 200px;
	text-align: center;
	color: #000;
}

#Datos{
	display: flex;
	justify-content: center;
	padding: 10px;
}

#Datos ul{
	list-style: none;
	display: flex;
}

#Datos li{
	list-style: none;
	display: flex;
	margin: 0 5px;
}

#Datos label{
	padding: 0 10px;
	font-size: 16px;
}


.Boton{
	width: 100px;
	height: 45px;
	font-family: 'Handjet', cursive;
	font-size: 18px;
	font-weight: 900;
	border-radius: 5px;
	transition: all 0.25s;
	cursor: pointer;
	}
	
.Boton:hover{
	transform: translateY(-5px);
}

.Botonc{
	text-align: center;
	}

/* Redes */

.Text_PP{
	/* align-items:center; */
	display: flex;
	position: absolute;
	padding-left: 15%;
}

.Redes{
	margin-left: 70%;
}

.Redes-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height:60px;
	border-radius: 50%;
	text-align:center;
	color: #fff;
}

.Redes-icon:hover{
	background: #e2fdf5;
	color: #000;
}

.Redes-icon i{
	font-size: 30px;
	line-height: 60px;
}

/* Pendiente Menu 800px */

@media (max-width: 800px) {
	.Titulo{
		display: none;
	}
	
	.LOGO_img{
		display: none;
	}

	
	#Opciones_buscador{
		display: none;
	}

	#ctn-icon-search {
		left: 85%;
		display:none
	}
	#ctn-bars-search {
		z-index: 4;
		display: none;
	}
	
	#box-search{
		display: none;
		background: rgba(255, 255, 255, 0.5);
	}

	.PPag{
		height: 100%;
		padding: 3% 10% 3% 10%;
	}
	
	.menu_menor{
		display: flex;
	}
	
	hr{
		display: none;
	}

	.menu_link{
    		height: 80px;
	}
	.Menu_Desplegable{
		display: grid;
		width: 250px;
		right: 0;
		max-height: 65%;
		position: fixed;
		background-color: #0c383e;
	}
	
	.Menu_Desplegable_Interno{
		display: grid;
		position: unset;
		transform: translateY(0);
		height: 0;
		transition: height .3s;
		background-color: #0e2d34;
	}
	
	.Menu_Des_Desp{
		/* transform: unset; */
		display: none;
	}

	.menu_cel{
		display: flex;
	}
	.menu_cel ul, .menu_cel li {
		margin: 0;
		padding: 0;
	}
	.menu_cel ul {
		background: gray;
		list-style: none;
	}
	.menu_cel li {
		float: left;
		position: relative;
		width:auto;
	}
	.menu_cel a {
		background: #30A6E6;
		color: #FFFFFF;
		display: block;
		font: bold 12px/20px sans-serif;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
	.menu_cel li:hover a {
		background: #000000;
	}

	.boton-regresar {
        	border: 2px solid white;
        	width: 40%;
        	margin-bottom: 20px;
    	}
	
	#submenu_cel {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 35px;
		visibility: hidden;
		z-index: 1;
	}
	li:hover ul#submenu_cel {
		opacity: 1;
		top: 40px;	
		visibility: visible;
	}
	#submenu_cel li {
		float: none;
		width: 100%;
	}
	#submenu_cel a:hover {
		background: #30A6E6;
	}
	#submenu_cel a {
		background-color:#000000;
	}
	.Encabezado{
		height: 120px;
	}
	.LOGO{
		height: 120px;
	}
	
	.Galeria_superior{
		height: auto;
		width: 70%;
		margin-top: 25px;
	}
	.Menu ul{
		justify-content: unset;
	}
	.Caja h3{
		width: inherit;
	}
	.Cuerpo_1{
		width:100%;
	}
	
	.Cuerpo_2{
		display: none;
	}
	
	.Titulo_temas{
		top: 150px;
	}
	
	#Tema-sub-Fisica, #Tema-sub-Electronica, #Tema-sub-Instrum{
    	font-size: 30px;
	}
	.Foto{
		width:130px;
		height: 160px;
	}
	
	.Foto img{
		width:130px;
		height: 50px;
	}
	.Foto h4{
		font-size: 10px;
	}
	.Foto p{
		font-size: 8px;
	}
	
	.F2{
		width:130px;
		height: 50px;
	}
	.sub-Menu-Caja{
		width:70%;
	}
	#Datos label{
	font-size: 8px;
	}
	#Datos ul{
	display: block;
	}
}
